<div class="modal" [style.display]="state">
    <form class="modal-content animate">
        <div class="imgcontainer">
            <span (click)="cancel()" class="close" title="Close">&times;</span>
        </div>
        <div align="center">
           <iframe src="http://se-psi40.netlab.hof-university.de:3000/d-solo/ot8J3HJGk/cs_dashboard?orgId=1&from=1574215840885&to=1576885297837&theme=light&panelId=4" width="700" height="400" frameborder="0">
            </iframe>
        </div>
    </form>
</div>